.timer{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px auto 0;
	width: 300px;
	height: 100px;
	background-color: #aaaa55;
	
	font-size: 40px;
	font-family: sans-serif;
	border-radius: 25px;
}

.btns{
	margin: 0 auto;
	width: 304px;
}

.start, .clear{
	margin: 25px;
	width: 100px;
	height: 50px;
	border-radius: 5px;
	background-color: #004d00;
	
	color: #fff;
	font-size: 20px;
}

.timer p{
	margin: 0;
}
span{
	display: inline-block;
	width: 45px;
}